@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color:#9be81f;
    font-size: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: 23242a;
}
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 80px;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #1fe851, #1fe83a);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #9be81f, #e8981f);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form {
    position: absolute;
    inset: 2px;
    border-radius: 80px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form h2 {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.form .input {
    text-align: left;
}

.form .input .inputBox {
    margin-top: 10px;
}

.form .input .inputBox label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.form .input .inputBox input {
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid #e9dcle;
    outline: none;
    padding: 5px 15px;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.form .input inputBox input:hover {
    border-color: #f1e430; /* Змінює колір рамки при наведенні курсору */
    box-shadow: 0px 0px 10px 5px rgba(233, 220, 30, 0.5); /* Додає тінь, що виглядає як світіння */
}

.form .input inputBox input[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    background: #e9dcle;
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    border-radius: 50px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form .input inputBox input[type="submit"]:hover {
    background: linear-gradient(315deg, #c8ff02, #e9a2le);
}

.form .input inputBox input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.521);
    background: #c8ff02;
}

.forgot {
    margin-top: -65px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.forgot a {
    color: #9be81f;
}
.eblan{
    margin-top: 20px;
}    
.forpot{
    margin-top: 50px;
    color:white ;
}